<!DOCTYPE html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'inj/style.css' %}" />
    <title>{% block title %}Interpretation of New Jersey{% endblock %}</title>
</head>

<body>
	<div id="nav">
		{% block nav %}
		<p>Nav menu</p>
		{% endblock nav %}
	</div>
    <div id="content">
 		<div id="content-overlay">
        {% block content %}
        <p>Article content here </p>
        {% endblock %}
		</div>
		{% block chart %}
		{% endblock chart %}
	</div>
    <div id="index">
        {% block index %}
        <ul>
            <li><a href="/artcom">Home</a></li>
			<li><a href="{% url 'artcom:newcategory' %}">Add new category</a></li>
			<li><a href="{% url 'artcom:newarticle' %}">Add new article</a></li>
		</ul>
        {% endblock %}
    </div>
<script src="{% static 'inj/jquery-3.1.1.js' %}"></script>
<script src="{% static 'inj/main.js' %}"></script>
</body>
</html>
