{% extends "base.html" %}

{% block nav %}
<p>Nav bar</p>
{% endblock nav %}

{% block chart %}
<div id="chart" class="chart-column hidden">
{% if category_list %}
	<ul class="chart">
	{% for category in main_cat %}
		<li><b>{{ category.name }}</b></li>
		<ul class="chart">
		{% for subcat in category.category_set.all %}
			<li><div class="expand">+</div>&nbsp;<a href="{% url 'artcom:article' subcat.slug %}">{{ subcat.name }}</a></li>
			<ul class="hidden chart">
			{% for article in subcat.article_set.all %}
				<li><a href="{% url 'artcom:article' article.slug %}">{{ article.title }}</a></li>
			{% endfor %}

			{% for sub_two in subcat.category_set.all %}
				<li>
				{% if sub_two.article_set %}
				<div class="expand">+</div>
				{% else %}
				<div class="expand-placeholder">+</div>
				{% endif %}

				&nbsp;<a href="{% url 'artcom:article' sub_two.slug %}">{{ sub_two.name }}</a></li>
				<ul class="hidden chart">
				{% for article in sub_two.article_set.all %}
					<li><a href="{% url 'artcom:article' article.slug %}">{{ article.title }}</a></li>
				{% endfor %}

				{% for sub_three in sub_two.category_set.all %}
					<li>
					{% if sub_three.article_set %}
					<div class="expand">+</div>
					{% else %}
					<div class="expand-placeholder">+</div>
					{% endif %}
					
					&nbsp;<a href="{% url 'artcom:article' sub_three.slug %}">{{ sub_three.name }}</a></li>
					<ul class="hidden chart">
					{% for article in sub_three.article_set.all %}
						<li><a href="{% url 'artcom:article' article.slug %}">{{ article.title }}</a></li>
					{% endfor %}
					</ul>
				{% endfor %}
				</ul>
			{% endfor %}
			</ul>
		{% endfor %}
		</ul>
	{% endfor %}
	</ul>
{% endif %}
</div>
{% endblock %}

{% block content %}
{% endblock content %}

{% block index %}
{% endblock index %}