{% extends "nav.html" %}

{% block content %}
<div class="article">
	<h1>{{ article.title }}</h1>

	{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

	<h2>{{ article.subtitle }}</h2>

	<p><b>{{ article.contributor.first_name }}&nbsp;{{ article.contributor.last_name }}</b></p>

	<p>{{ article.pub_date }}</p>

	<hr>
	<div id="edit-form">
		<form action="{% url 'inj:changearticle' article.slug %}" method="post">
		{% csrf_token %}
			Please edit the content: <br />
			<textarea name="content" id="content" style="height: 200px; margin: 30px 0;">{{ article.article_content }}</textarea><br />
		{% if article.html_safe %}
				<input type="radio" name="html-safe" id="html-safe" value="True" checked=checked />HTML <br />		
				<input type="radio" name="html-safe" id="html-safe" value="False" />Plain Text <br />
		{% else %}
				<input type="radio" name="html-safe" id="html-safe" value="True" />HTML <br />		
				<input type="radio" name="html-safe" id="html-safe" value="False" checked=checked />Plain Text <br />
		{% endif %}
		<input type="submit"  class="button text" value="Save Changes" />
		</form>
	</div>

	<p><a href="{% url 'inj:article' article.slug %}">Go back to the article without editing</a>

	<p><a href="{% url 'inj:delete' article.slug %}">Delete this article</a></p>

	{% for commentary in article.commentary_set.all %}
		<hr>
		<p><b>{{ commentary.com_title }}</b><br />
		{{ commentary.com_author }}<br />
		<i>{{ commentary.pub_date }}</i></p>
	
		<p>{{ commentary.commentary|linebreaks }}</p>
	{% endfor %}
</div>
{% endblock %}

