{% extends "nav.html" %}

{% block content %}

<div id="new-article-form">
	<form action="{% url 'artcom:addarticle' %}" method="post">
	{% csrf_token %}
		Title: <input type="text" name="title" id="title" value="" /><br />
		Subtitle: <input type="text" name="subtitle" id="subtitle" value="" /><br />
		Author: <input type="text" name="author" id="author" value="Jesse Fried" /><br />
		Parent: <input type="text" name="parent" id="parent" value="" /><br />


<!---	Category: <select name="category">
		{% for category in categories %}
			<option id="choice{{ forloop.counter }}" value="{{ category.name }}" />>{{ category.name }}</option>
		{% endfor %}	
		</select><br /> -->
		
		Content: <br /><textarea name="content" rows="10" cols="30" id="content">Please type or paste your text here.</textarea><br />

		<input type="radio" name="html-safe" id="html-safe" value=True />HTML <br />		
		<input type="radio" name="html-safe" id="html-safe" value=False />Plain Text <br />
	
	<input type="submit" value="Add your article to INJ" />
	</form>
</div>

{% endblock %}
