{% extends "nav.html" %}

{% block content %}

{% load static %}

<div id="new-category-form">
	<form action="{% url 'artcom:addcategory' %}" method="post">
	{% csrf_token %}
		Name: <input type="text" name="name" id="name" value="" /><br />
		Parent: <input type="text" name="parent" id="parent" value="" /><br />

<!---	Category: <select name="category">
		{% for category in categories %}
			<option id="choice{{ forloop.counter }}" value="{{ category.name }}" />>{{ category.name }}</option>
		{% endfor %}	
		</select><br /> -->
		
	<input type="submit" value="Create category" />
	</form>
</div>

{% endblock %}
